<template>
  <v-card>
    <v-card-title class="headline">
      <span v-if="isInEditMode">Edit worker info</span>
      <span v-else>Add new worker</span>
    </v-card-title>

    <v-card-text>
      <span class="green--text">* All fields are required</span>
      <v-form ref="form" v-model="valid" @submit.prevent="onSubmit">
        <v-text-field
          v-model="worker.firstName"
          :rules="firstNameRules"
          label="First Name"
          required
        ></v-text-field>

        <v-text-field
          v-model="worker.lastName"
          :rules="lastNameRules"
          label="Last Name"
          required
        ></v-text-field>

        <v-menu
          v-model="calendar"
          :close-on-content-click="false"
          :nudge-right="40"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="formattedDate"
              label="Select birth date"
              prepend-icon="event"
              readonly
              v-on="on"
              :rules="birthDateRules"
              hint="day/month/year format"
              persistent-hint
              required
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="worker.birthDate"
            :max="maxAllowedDate"
            @input="calendar = false"
          ></v-date-picker>
        </v-menu>

        <v-text-field
          v-model="worker.position"
          :rules="positionRules"
          label="Position"
          required
        ></v-text-field>

        <v-text-field
          prepend-icon="attach_money"
          v-model="worker.salary"
          :rules="salaryRules"
          label="Salary"
          hint="In $ USA"
          persistent-hint
          required
        ></v-text-field>
      </v-form>
    </v-card-text>

    <v-card-actions>
      <v-spacer></v-spacer>

      <v-btn
        v-if="isInEditMode"
        color="green"
        flat="flat"
        :disabled="!valid"
        @click="onUpdateWorker"
      >
        Save Changes
      </v-btn>

      <v-btn
        v-else
        color="green"
        flat="flat"
        :disabled="!valid"
        @click="onAddWorker"
      >
        Add worker
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  created() {
    const { workerUnderEdit } = this.$store.state.workers;
    if (workerUnderEdit) {
      this.isInEditMode = true;
      const pickObjectProps = ({
        firstName,
        lastName,
        birthDate,
        position,
        salary
      }) => ({ firstName, lastName, birthDate, position, salary });
      this.worker = { ...pickObjectProps(workerUnderEdit) };
    } else {
      this.isInEditMode = false;
    }
  },
  data() {
    return {
      isInEditMode: false,
      calendar: false,
      valid: false,
      renderContent: false,
      worker: {
        firstName: "",
        lastName: "",
        birthDate: null,
        position: "",
        salary: ""
      },
      firstNameRules: [
        currentValue => !!currentValue || "First name field is required"
      ],
      lastNameRules: [
        currentValue => !!currentValue || "Last name field is required"
      ],
      positionRules: [
        currentValue => !!currentValue || "Position field is required"
      ],
      birthDateRules: [
        currentValue => !!currentValue || "Date field is required"
      ],
      salaryRules: [
        currentValue => {
          if (!currentValue) {
            return "Salary field is required";
          }
          if (isNaN(currentValue)) {
            return "Salaray should be a number";
          }
          return true;
        }
      ]
    };
  },
  computed: {
    formattedDate() {
      return this.formatDate(this.worker.birthDate);
    },
    maxAllowedDate() {
      const today = new Date();
      const day = ("0" + today.getDate()).slice(-2);
      const month = ("0" + (today.getMonth() + 1)).slice(-2);
      const year = today.getFullYear() - 18;
      return `${year}-${month}-${day}`;
    }
  },
  methods: {
    /* close modal callback to call in action (only after response was received) */
    closeModal() {
      return this.$emit("modal-closed-handler");
    },
    onUpdateWorker() {
      console.log(this.worker);
      this.$store.dispatch("workers/updateWorker", {
        payload: this.worker,
        closeModalCallback: this.closeModal
      });
    },
    onAddWorker() {
      console.log(this.worker);
      this.$store.dispatch("workers/addWorker", {
        payload: this.worker,
        closeModalCallback: this.closeModal
      });
    },
    formatDate(date) {
      console.log(date);
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    }
  }
};
</script>

<style lang="scss" scoped></style>
