<template>
  <div>
    <v-alert :value="true" color="info">
      Workers info
    </v-alert>
    <WorkersTable class="mt-4" />
    <!-- <WorkerModal></WorkerModal> -->
  </div>
</template>

<style lang="scss" scoped></style>

<script>
import WorkersTable from "../components/WorkersTable/WorkersTable";

export default {
  components: {
    WorkersTable
  }
};
</script>
