<template>
  <div>
    <v-card>
      <v-card-title>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer />
        <v-btn outline color="indigo" class="my-0" @click="onShowModal(null)">
          Add worker
        </v-btn>
      </v-card-title>

      <v-data-table
        :headers="headers"
        :items="workers"
        class="elevation-1"
        :search="search"
      >
        <template v-slot:items="props">
          <td class="text-center">{{ props.item.fullName }}</td>
          <td class="text-center">{{ props.item.birthDate }}</td>
          <td class="text-center">{{ props.item.position }}</td>
          <td class="text-center">{{ props.item.salary }}</td>
          <td class="controls">
            <v-btn flat icon color="success" @click="onShowModal(props.item)">
              <v-icon>edit</v-icon>
            </v-btn>

            <v-btn
              flat
              icon
              color="red"
              @click="onRemoveWorkerInfo(props.item._id)"
            >
              <v-icon>close</v-icon>
            </v-btn>
          </td>
        </template>
      </v-data-table>
    </v-card>
    <v-dialog v-model="isWorkerModalShown" max-width="600px">
      <WorkerModal
        v-if="isWorkerModalShown"
        @modal-closed-handler="isWorkerModalShown = false"
      ></WorkerModal>
    </v-dialog>
  </div>
</template>

<script>
import WorkerModal from "../WorkerModal/WorkerModal";
import headers from "./WorkersTableHeaders.config";
import { mapState } from "vuex";

export default {
  components: {
    WorkerModal
  },
  mounted() {
    this.$store.dispatch("workers/getWorkers");
  },
  data() {
    return {
      isWorkerModalShown: false,
      headers: headers,
      search: ""
    };
  },
  watch: {
    isWorkerModalShown: function(modalShown) {
      if (!modalShown) {
        this.$store.commit("workers/setWorkerUnderEdit", { payload: null });
      }
    }
  },
  computed: mapState({
    workers: state => state.workers.all
  }),
  methods: {
    onShowModal(workerToEdit) {
      if (workerToEdit) {
        this.$store.commit("workers/setWorkerUnderEdit", {
          payload: workerToEdit
        });
      }
      this.isWorkerModalShown = true;
    },
    onRemoveWorkerInfo(workerId) {
      this.$store.dispatch("workers/deleteWorkerById", { payload: workerId });
    }
  }
};
</script>

<style lang="scss" scoped>
.table-header {
  display: flex; /* 
  justify-content: flex-end; */
}
.controls {
  display: flex;
  justify-content: flex-end;
}
</style>
