<template>
  <v-app>
    <v-content>
      <v-container>
        <router-view />

        <v-snackbar
          v-model="isSnackBarShown"
          :multi-line="mode === 'multi-line'"
          top
          right
          :timeout="timeout"
          :vertical="mode === 'vertical'"
        >
          <span class="green--text">{{ workersError }}</span>
          <v-btn flat icon color="green" @click="isSnackBarShown = false">
            <v-icon>close</v-icon>
          </v-btn>
        </v-snackbar>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "App",
  components: {},
  data() {
    return {
      y: "top",
      x: "right",
      mode: "",
      timeout: 5000,
      isSnackBarShown: false
    };
  },
  computed: mapState({
    workersError: function(state) {
      return state.workers.error;
    }
  }),
  watch: {
    workersError: function() {
      this.isSnackBarShown = !!this.workersError;
    }
  }
};
</script>
